<nav class="navbar fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <%# <nav class="navbar navbar-light bg-light"> %>
      <a class="navbar-brand" href="<%= videos_path %>">
        <i class="bi bi-house-door-fill"></i>
        Funny Movies
      </a>

      <% if user_signed_in? %>
        <div class='d-flex'>
          <span class='navbar-text me-2'>Welcome <%= current_user.email %></span>
          <%= link_to "Share a movie", new_video_path, class: 'btn btn-outline-success me-2' %>
          <%= form_for(:user, url: destroy_user_session_path, method: :delete) do |f| %>
            <%= f.submit "Log out", class: 'btn btn-outline-success' %>
          <% end %>
        </div>
      <% else %>
        <%= form_for(:user, url: user_session_path, html: { class: 'd-flex' }) do |f| %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control me-2' %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control me-2' %>

          <%= f.submit "Log in / Register", class: 'btn btn-outline-success' %>
        <% end %>
      <% end %>
    <%# </nav> %>
  </div>
</nav>

<%# <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav> %>